@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box; font-family: 'Poppins', sans-serif;}

input::placeholder {
    opacity: 1;
    text-align: center;
    outline: none;
    color: #3e4095;
}
.placeholderNomeTituloEstilo {
    opacity: 1;
    text-align: center;
    outline: none;
    color: #3e4095;
}


input {
    background-color: transparent;
    border: none;
}

/* ##variaveis */
:root {
    --cor-principal: #3e4095
}
/* html{
    pointer-events: none;
} */
body {
    transform: scale(0.7);
}

/* ##altura */
body {
    height: 100vh;
}

/* ##fontePesada */
.campoTextoComplementar,
.campoTextoComplementar::placeholder,
.restoDados>p,
.campoCpf::placeholder,
.campoCpf,
.dados,
.texto2,
.texto1 {
    font-weight: bold;
}

/* ##fonteMedia */
.CPF,
.nome{
    font-weight: 700;
}

.nome,
.texto1 {
    font-size: 33pt;
}

.campoTextoComplementar,
.restoDados>p,
.CPF,
.dados,
.texto2 {
    font-size: 13pt;
}

.campoCpf {
    text-align: center;
}

/* ##azul */
.CPF,
.restoDados,
.nome,
.dados,
.texto2,
.texto1 {
    color: #3e4095;
}

.campoNome,
.dados {
    text-align: center;
}

/* ##flex */
.nomeCpf,
.assinaturaInstrutor,
.assinaturaDono,
.dadosCertificado,
.caixaLogoTexto,
.caixaAssinaturas,
.logoMedalha,
body {
    display: flex;
}

/* ##justificado */
.caixaFormulario {
    justify-content: end;
}
.nomeCpf,
.caixaLogoTexto,
.logoMedalha,
body {
    justify-content: center;
}

.caixaAssinaturas {
    justify-content: space-between;
}

/* ##alinhado */
.nomeCpf,
.assinaturaDono,
.assinaturaInstrutor,
.assinatura,
.dadosCertificado,
.caixaLogoTexto,
body {
    align-items: center;
}

/* ##coluna */
.assinaturaInstrutor,
.assinaturaDono,
.dadosCertificado,
.caixaLogoTexto,
#certificado {
    flex-direction: column;
}

/* ##certificado */
#certificado {
    background-image: url(/img/fundo.webp);
    background-repeat: no-repeat;
    background-position-y: 110%;
    position: relative;
    border: 1.5mm solid var(--cor-principal);
    width: 297mm;
    height: 210mm;
}

/* ##logoMedalha */
.logoMedalha {
    position: relative;
    height: auto;
}

/* ##logoTexto */
.caixaLogoTexto {
    position: relative;
    width: 150mm;
    height: 73mm;
    /* margin-top: 13mm; */
}

.logo {
    width: 68mm;
    height: 36mm;
}

.texto1 {
    margin-top: 9mm;
    width: 78mm;
    height: 9mm;
}

.texto2 {
    /* margin-top: 15mm; */
    position: absolute;
    width: 100%;
    height: 4.5mm;
    bottom: 0px;
}

/* ##medalha */
.caixaMedalha {
    width: 43mm;
    height: 103mm;
    position: absolute;
    right: 17mm;
}

.textoMedalha {
    position: relative;
    top: -43mm;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42mm;
    height: 42mm;
    font-size: 13pt;
    font-weight: bold;
    color: #3e4095;
    
}

/* ##formulario */
.dadosCertificado {
    width: 239mm;
    height: 51mm;
    margin: 10mm auto;
}

.nomeCpf {
    width: 160mm;
    height: 17mm;
    text-align: center;
    margin-bottom: 15mm;
}

.restoDados {
    width: 100%;
    height: 21mm;
    font-size: 13pt;
    /* background-color: lightcyan; */
}

/* ##campos */
.campo {
    background-color: transparent;
    border: none;
    outline: none;
    color: #3e4095;
    font-weight: bold;
    text-align: center;
}
.CPF{
    font-size: 13pt;
    text-transform: uppercase;
}

.nomeCpf{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nome::placeholder{
    text-align: center;
}
.nome {
 cursor: pointer;
}

.campoCpf {
    height: 3.5mm;
    width: 48mm;
}

.textoComplementar {
    width: 100mm;
    font-size: 13pt;
    color: #3e4095;
    outline: none;
}
/* ##textocamplementar */
.campoTextoComplementar{
    width: 800px;
}
.nrs{
    width: 20mm;
    height: 10mm;
    /* background-color: #3e4095; */
    font-size: 13pt;
    color: #3e4095;
    outline: none;
    background-color: transparent;
    border: none;
    appearance: none;
    text-align: center;
    font-weight: bold;
}

.dataNoTexto{
    -webkit-appearance: none; /* Para navegadores WebKit */
    -moz-appearance: none;    /* Para navegadores Firefox */
    appearance: none; 
    font-size: 13pt;
    color: #3e4095;
    outline: none;
    width: 130px;
}
.promovidoPor{
    font-size: 13pt;
    font-weight: normal;
    color: #3e4095;
    outline: none;
    background-color: transparent;
    
}

/* ##assinaturas */
.caixaAssinaturas {
    width: 208mm;
    height: 42mm;
    position: absolute;
    bottom: 10mm;
    left: calc(208mm / 5);
}

.caixaAssinaturas>section {
    width: 82mm;
    height: 42mm;
}

.assinatura{
    width: auto;
    height: 20mm;
}
.caixaAssinaturas>section>hr {
    width: 100%;
    border: 0.5mm solid black;
}
.campoTextoComplementar{
    display: none;
}

.restoDados>p{
    display: flex;
}
.log{
    position: absolute;
    left: 0px;
    background-color: lightblue;
    height: 100vh;
}

body{
    position: relative;
    width: 100%;
    display: flex;
}